{% extends 'base.html' %}

{% block content %}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Welcome to the NFT Viewer app!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Enter your cardano native wallet to view your NFTs and their prices in ADA and USD.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{{url_for('input.html')}}"><button type="button" class="btn btn-dark btn-lg px-4 gap-3">Enter</button><a>
      </div>
    </div>
  </div>

{% endblock %}
